.icon {
  background-image: url('../images/spritesheet.svg');
  background-size: 50px 50px;
}
.icon-sprite1 {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}
.icon-sprite2 {
  background-position: -25px -0px;
  width: 20px;
  height: 20px;
}
.icon-sprite3 {
  background-position: -0px -25px;
  width: 20px;
  height: 20px;
}
.icon-sprite4 {
  background-position: -25px -25px;
  width: 20px;
  height: 20px;
}