.icon {
  background-image: url('../images/spritesheet.svg');
  background-size: 40px 50px;
}
.icon-sprite1 {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}
.icon-sprite2 {
  background-position: -20px -0px;
  width: 20px;
  height: 20px;
}
.icon-sprite3 {
  background-position: -0px -30px;
  width: 20px;
  height: 20px;
}
.icon-sprite4 {
  background-position: -20px -30px;
  width: 20px;
  height: 20px;
}