.icon {
  background-image: url('../images/spritesheet.svg');
  background-size: 60px 60px;
}
.icon-sprite1 {
  background-position: -10px -10px;
  width: 10px;
  height: 10px;
}
.icon-sprite2 {
  background-position: -37px -7px;
  width: 15px;
  height: 15px;
}
.icon-sprite3 {
  background-position: -5px -35px;
  width: 20px;
  height: 20px;
}
.icon-sprite4 {
  background-position: -32px -32px;
  width: 25px;
  height: 25px;
}